

       
        
        <div class="text-center col-lg-2">
        </div>
        <div class="text-center back col-lg-8">
            
            <h2 class="section-heading text-center white"> Admin's Dashboard</h2>
            <%= link_to "Create New Admin", 'signup', :class => 'btn btn-primary' %><hr>
            <%= link_to 'Add New Book', new_book_path, :class => 'btn btn-primary'  %><hr>
            <%= link_to 'Books', books_path, :class => 'btn btn-primary'  %><hr>
            <%= link_to 'Purchases', purchases_path, :class => 'btn btn-primary'  %><hr>
            <%= link_to 'Orders', orders_path, :class => 'btn btn-primary'  %><hr>
            <%= link_to 'Requests', requests_path, :class => 'btn btn-primary'  %><hr>
            <%= link_to 'Sales', sales_path, :class => 'btn btn-primary'  %><hr>
            <%= link_to 'Customers', customers_path, :class => 'btn btn-primary'  %><hr>
                
        </div>
        <div class="text-center col-lg-2">
        </div>
        
        

<style>
    .btn-primary{
        color: white !important;
        background-color: #1abc9c !important;
        
    }
    .back{
        background-color: #5C97BF;
    }
    .white{
        color: white;
    }
</style>