<p id="notice"><%= notice %></p>

<p>
  <strong>Bookid:</strong>
  <%= @purchase.bookID %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
