<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :edition %><br>
    <%= f.text_field :edition %>
  </div>
  <div class="field">
    <%= f.label :bookTitle %><br>
    <%= f.text_field :bookTitle %>
  </div>
  <div class="field">
    <%= f.label :instructor %><br>
    <%= f.text_field :instructor %>
  </div>
  <div class="field">
    <%= f.label :courseCode %><br>
    <%= f.text_field :courseCode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
