<%= form_for @request, :html => { :class => "form-horizontal request" } do |f| %>

  <% if @request.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%=f.error_span(:author) %>
  </div>
  <div class="form-group">
    <%= f.label :edition, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :edition, :class => 'form-control' %>
    </div>
    <%=f.error_span(:edition) %>
  </div>
  <div class="form-group">
    <%= f.label :bookTitle, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bookTitle, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bookTitle) %>
  </div>
  <div class="form-group">
    <%= f.label :instructor, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :instructor, :class => 'form-control' %>
    </div>
    <%=f.error_span(:instructor) %>
  </div>
  <div class="form-group">
    <%= f.label :courseCode, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :courseCode, :class => 'form-control' %>
    </div>
    <%=f.error_span(:courseCode) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                requests_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
