<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Tracking ID:</strong></dt>
  <dd><%= @order.id %></dd>
  <dt><strong> Course Code : </strong></dt>
  <dd><%= Book.find(@order.bookIDs).courseCode %></dd>
  <dt><strong> Instructor : </strong></dt>
  <dd><%= Book.find(@order.bookIDs).instructor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customerID) %>:</strong></dt>
  <dd><%= @order.customerID %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @order.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dateOrdered) %>:</strong></dt>
  <dd><%= @order.dateOrdered %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantities) %>:</strong></dt>
  <dd><%= @order.quantities %></dd>
</dl>


<%= link_to 'Back', home_index_url %> <hr>

