<%- model_class = Book -%>
<div class="page-header">
  <h3 class="section-title contact-title text-center white"><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

        <div class="container">
          <div class="row previews">
              <div class="col-lg-2 col-sm-6">
                  </div>
              <div class="col-lg-4 col-sm-6">
                  <dt class="dl-horizontal text-center">
                      <dt><strong>Course Title: </strong></dt>
                      <dd><%= @book.courseTitle %></dd>
                      <dt><strong> Course Code: </strong></dt>
                      <dd><%= @book.courseCode %></dd>
                      <dt><strong>Instructor:</strong></dt>
                      <dd><%= @book.instructor %></dd>
                      <dt><strong>School:</strong></dt>
                      <dd><%= @book.school %></dd>
                      <dt><strong>Our Price:</strong></dt>
                      <dd><%= @book.ourPrice %></dd>
                      <dt><strong>Canotech Price:</strong></dt>
                      <dd><%= @book.canotechPrice %></dd>
                      <dt><strong>Copies Available:</strong></dt>
                      <dd><%= @book.numCopies %></dd>
                      <dt><strong>Book Title:</strong></dt>
                      <dd><%= @book.bookTitle %></dd>
                      <dt><strong>Author:</strong></dt>
                      <dd><%= @book.author %></dd>
                      <dt><strong>Edition:</strong></dt>
                      <dd><%= @book.edition %></dd>
                      <dt><strong>Department:</strong></dt>
                      <dd><%= @book.dept %></dd>
                      <dt><strong>Comment:</strong></dt>
                      <dd><%= @book.comment %></dd>
                </dt>
                  
                </div>
            
              <div class="col-lg-4 col-sm-6">
                  <div class="thumbnail">
                      <p><img src=<%= @book.image %> class="img-responsive"></p>
                      <%= link_to t('.back', :default => t("helpers.links.back")),
                          books_path, :class => 'btn btn-default'  %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_book_path(@book), :class => 'btn btn-default text-center' %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          book_path(@book),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger' %>
                    </div>
                </div>
             </div>
             
        </div>



<style>
    dt, strong {
    font-size: 110%;
    color: blue;
    }
    dd {
        margin-right: 80px;
    }
</style>

