<div style = "text-align:center; color:red; font-size:15px">
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
</div>

  <div  class="col-xs-5" style="margin-left: -1.5%;">
    <%= form_tag("/sales/create", method: "post") do %>

      <div class="form-group">  
        <%= label_tag :bookid, "Course Code" %>
        <%=  collection_select :myid,:courseCode, Book.all, :id, :courseCode, include_blank: true %>
     
      </div>
      
      <div class="form-group">  
        <%= label_tag :bookid, "Instructor" %>
        <%=  collection_select :myid,:instructor, Book.all, :id, :instructor, include_blank: true %>
     
      </div>
      <p style = "font-size:15px; font-weight:bold; text-align:center"> OR </p>
      <div class="form-group">
        <%= label_tag :orderid, "Order ID" %>
        <%= text_field_tag :orderid, nil, class: "form-control" %>
      </div>
      
      
      <%= submit_tag "Submit", class: "btn btn-default" %>
    <% end %>
  </div>

