<!DOCTYPE html>
<html>
<head>
  <title>Book Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<nav class="navbar navbar-default blue" role="navigation">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href='/'>1 Point</a>
				</div>

				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					
						<% if current_admin %> 
							  <ul class="nav navbar-nav"> 
							    <li><%= current_admin.email %></li> 
							    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
							  </ul> 
						<% else %> 
							  <ul class="nav navbar-nav"> 
							    <li><%= link_to "Login", 'login' %></li>
							    <li><%= link_to "Signup", 'signup' %></li>
							  </ul> 
						<% end %>
							
							
							<ul class="nav navbar-nav navbar-right">
              					<li><%= link_to 'Books', books_path  %></li> 
								<li><%= 
								# link_to 'Purchases', purchases_path 
								%></li>
								<!--<li><%= link_to 'Orders', orders_path %></li>-->
								<li><%= link_to 'Requests', requests_path %></li>
								<li><%= 
								# link_to 'Sales', sales_path 
								%></li>
								<li><%= link_to 'Customers', customers_path %></li>
								<li><%= link_to 'Admin', admins_path %></li>
            				</ul>
						
						<!--<form class="navbar-form navbar-left" role="search">-->
						<!--	<div class="form-group">-->
						<!--		<input type="text" class="form-control" />-->
						<!--	</div> -->
						<!--	<button type="submit" class="btn btn-default">-->
						<!--		Search-->
						<!--	</button>-->
						<!--</form>-->
						<%= form_tag books_path, :method => 'get', :class => 'navbar-form navbar-left' do %>
						  <p>
						    <%= text_field_tag :search, params[:search] %>
						    <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
						  </p>
						<% end %>
						<%= form_tag("/tracker", method: "post", :class => 'navbar-form navbar-left') do %>
						  <%= 
						  #label_tag(:t_id, "Track:")
						  %>
						  <%= text_field_tag(:t_id) %>
						  <%= submit_tag("Track", :class => 'btn btn-default') %>
						<% end %>
					
				</div>
				
				
				
				
			</nav>
		 <%= yield %>
</div>

<style>
	body{
		background-color:#eeeff4
		/*#81CFE0;*/
	}
	.blue{
		background-color:#3b5999
	}
	.navbar-nav > li > a, .navbar-brand {
    	color: white !important;
    	font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 110%;
    	
	}
	
	input[type="submit"]:hover { 
    	background-color: #1abc9c !important;
	}
</style>

</body>
</html>